// 重置样式
* {
    box-sizing: border-box;
}

html {
    height: 100px;
    font-size: 14px;
}

body {
    height: 100%;
    color: #333;
    min-width: 1240px;
    font: 1em/1.4 'Microsoft Yahei', 'PingFang SC', 'Avenir', 'Segoe UI',
    'Hiragino Sans GB', 'STHeiti', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei',
    sans-serif;
}

body,
ul,
h1,
h3,
h4,
p,
dl,
dd {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
    outline: none;
}

i {
    font-style: normal;
}

input[type='text'],
input[type='search'],
input[type='password'],
input[type='checkbox'] {
    padding: 0;
    outline: none;
    border: none;
    -webkit-appearence: none;
    &::placeholder {
        color: #ccc;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    background: #ebebeb url('@/assets/images/200.png') no-repeat center / contain;
}

ul {
    list-style: none;
}